@import "~bootstrap/scss/bootstrap.scss";


.lights{
background-color: black;
padding-top: 10px;
padding-bottom: 10px;

}

.lights input{
    width:80px;
    height:80px;
}

#green{
    background-color: green;
    
}


#red{
    background-color:red;
}


#yellow{
    background-color: yellow;
}